<div class="container text-center">
    <div class="row">
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Gokarna</mat-card-title>
                    <mat-card-subtitle>Karnataka</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="topImg1.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p style="text-align: left;">
                        Gokarna is a town on the Arabian Sea, in the southwestern Indian state of Karnataka. A popular pilgrimage destination for Hindus, it’s known for sacred sites like Mahabaleshwar Temple, which has a shrine dedicated to the deity Shiva. Nearby, Koti Teertha is a temple tank where devotees wash in the holy waters. The town is also home to beaches such as palm-lined Gokarna, in the center, plus Kudle and Om farther south.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Lakshadweep</mat-card-title>
                    <mat-card-subtitle>Union territory of India
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="topImg2.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p style="text-align: left;">
                        Lakshadweep is a tropical archipelago of 36 atolls and coral reefs in the Laccadive Sea, off the coast of Kerala, India. Not all of the islands are inhabited, and only a few are open to visitors (permits required). Kavaratti, one of the more developed islands, is home to dozens of mosques, including the ornately decorated Ujra Mosque, as well as Kavaratti Aquarium, showcasing regional fish, shark and coral species.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Chikmagalur</mat-card-title>
                    <mat-card-subtitle>Karnataka</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="topImg3.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        Chikmagalur is a hill station in Karnataka, a state in southwest India. To the north is Baba Budangiri, a mountain range in the Western Ghats, with 3 large caves said to be holy. Trails through forests and grasslands lead up to Mullayanagiri Peak. The cascading Hebbe Falls lie in an area of coffee plantations. The forested Bhadra Wildlife Sanctuary, northwest of Chikmagalur, is home to elephants, tigers and leopards. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>