.container-fluid{
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(12,2,61,1) 100%);
}
mat-tab-group{
  margin-top: 3rem;
  
}

mat-card{
  background-color: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 320px) {
  
  #icon{
    width: 2rem;
  }
}

@media screen and (min-width: 414px) {
  
  #icon{
    width: 10px;
    margin-left: -10rem;
  }
}

@media screen and (min-width: 428px) {
  
  #icon{
    width: 10px;
    margin-left: -10rem;
  }
}
  