<div class="container-fluid">
  <header>
    <app-navbar></app-navbar>
  </header>
<app-search/>
    <mat-tab-group animationDuration="2000ms">
      <mat-tab label="All Time Favouirte">
          <app-toppick/>
      </mat-tab>
      <mat-tab label="Top Summer Picks">
        <app-summer/>
      </mat-tab>
      <mat-tab label="Top Winter Picks">
        <app-winter/>
      </mat-tab>
    </mat-tab-group>

    <footer style="margin-top: 1rem;" id="contact">
      <mat-card appearance="outlined" >
        <h5 style="text-align: center; color: whitesmoke; margin-top: 1rem">Contact Me <span style="color: red;">&#10084;</span></h5>
        <mat-card-content>
          <div class="row" style="color: whitesmoke;">
            <div class="col" id="icon" style="padding-right:3rem; text-align:right; font-weight:500">
              <div class="row"><i class="bi bi-envelope-at-fill"></i></div>
              <div class="row" ><i class="bi bi-telephone-inbound-fill"></i></div>
              <div class="row"><i class="bi bi-linkedin"></i></div>
              <div class="row"><i class="bi bi-github"></i></div>
              <div class="row"><i class="bi bi-instagram"></i></div>
            </div>
            <div class="col" id="details">
              <div class="row">anjalisinha89871&commat;gmail.com </div>
              <div class="row">9934868033</div>
              <div class="row" ><a href="https://www.linkedin.com/in/anjali-sinha-599001203/" style="text-decoration: none; color: whitesmoke">Anjali Sinha</a></div>
              <div class="row"><a href="https://github.com/Anjali451" style="text-decoration: none; color: whitesmoke">Anjali451</a></div>
              <div class="row"><a href="https://www.instagram.com/_anjalisinha/" style="text-decoration: none; color: whitesmoke">_anjalisinha</a></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </footer>
  </div>