<div class="container text-center">
    <div class="row">
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Munar</mat-card-title>
                    <mat-card-subtitle>Kerala </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="summerImg1.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p style="text-align: left;">
                        Munnar is a town in the Western Ghats mountain range in India’s Kerala state. A hill station and former resort for the British Raj elite, it's surrounded by rolling hills dotted with tea plantations established in the late 19th century. Eravikulam National Park, a habitat for the endangered mountain goat Nilgiri tahr, is home to the Lakkam Waterfalls, hiking trails and 2,695m-tall Anamudi Peak.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Rishikesh</mat-card-title>
                    <mat-card-subtitle>Uttarakhand</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="summerImg2.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p style="text-align: left;">
                        Rishikesh is a city in India’s northern state of Uttarakhand, in the Himalayan foothills beside the Ganges River. The river is considered holy, and the city is renowned as a center for studying yoga and meditation. Temples and ashrams (centers for spiritual studies) line the eastern bank around Swarg Ashram, a traffic-free, alcohol-free and vegetarian enclave upstream from Rishikesh town.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Dharamshala</mat-card-title>
                    <mat-card-subtitle>Himachal Pradesh</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="summerImg3.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p style="text-align: left;">
                        Dharamshala is a city in the Indian state of Himachal Pradesh. Surrounded by cedar forests on the edge of the Himalayas, this hillside city is home to the Dalai Lama and the Tibetan government-in-exile. The Thekchen Chöling Temple Complex is a spiritual center for Tibetan Buddhism, while the Library of Tibetan Works and Archives houses thousands of precious manuscripts. 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>