<div class="container text-center">
    <div class="row">
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Gulmarg</mat-card-title>
                    <mat-card-subtitle>Kashmiri</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="winterImg1.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Auli</mat-card-title>
                    <mat-card-subtitle>Uttarakhand</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="winterImg2.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="img.jpg" alt="">
                    <mat-card-title>Tawang</mat-card-title>
                    <mat-card-subtitle>Arunachal Pradesh</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="winterImg3.avif"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>